.editing{
    padding: 8px 0 8px 0;
    .editing-bread{
        display: inline-block;
        position:absolute;
        top: 8px;
        margin-left: 24px;
    }
    .editing-menus{
        display: inline-block;
    }
}